<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../product.css">
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/shop">Shop</a></li>
          <li class="main-header__item"><a class="active" href="/admin/add">Add Product</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Add a product</h2>
      <form class="product-form" method="POST" action="/admin/add">
        <div class="form-control">
          <label for="name">Product Name: </label>
          <input type="text" placeholder="enter name" id="name" name="name"/>
        </div>
        <div class="form-control">
          <button type="submit">Add Product</button></form>
        </div>
    </main>
  </body>
</html>
