<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="../product.css" />
  </head>
  <body>
    <%- include('./includes/nav.ejs') %>
    <main>
      <% if (prods.length > 0) { %>
        <h1>All Products</h1>
      <div class="grid">
        <% prods.forEach(prod =>  { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= prod.name %></h1>
          </header>
          <div class="card__image">
            <!-- image -->
            <img src="https://media.istockphoto.com/vectors/shopping-cart-icon-isolated-on-white-background-vector-id1206806317?k=20&m=1206806317&s=612x612&w=0&h=waK8qOHV2Fgz2ntEWHWBQtXpNDAQ_wdhd4tkTUz6tfE=" alt="cart">
          </div>
          <div class="card__content">
            <h2 class="product__price">$19.99</h2>
            <p class="product__description">A one of a kind item</p>
          </div>
          <div class="card__actions">
            <button class="btn">Add to Cart</button>
          </div>
        </article>
        <% }) %> 
      </div>
    <% } else { %> 
      <h1> No Products Found </h1>  
      <% } %> 
    </main>
<%- include('./includes/end.ejs') %>