main h1 {
  margin-bottom: 20px;
}

.product-form {
  width: 20rem;
  margin: auto;
}

.form-control {
  margin: 12px;
  width: 100%;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control button {
  display: block;
  margin: 12px;
  width: 100%;
}

.form-control input, .form-control textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
  
  height: 2rem;
  padding-left: 10px;
}

.form-control textarea {
  padding-top: 7px;
}


.form-control button {
  padding: 1rem 2rem;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

button:hover {
  color: rgb(111, 125, 111);
  transform: scale(1.10);
  transition: 500ms ease-in-out;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  /* grid-template-rows: auto; */
  gap: 40px;
  grid-auto-flow: row;
 
}

.card {
  position: relative;

  /* width: 300px; */
  /* height: 400px; */
  /* width: 400px; */
  box-sizing: border-box;
  border-radius: 5px;
}

.product__title {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 2px;
  letter-spacing: 2px;
  font-weight: 300;
}

.product__description {
  color: gray;
  letter-spacing: 2px;
  margin: 3px 0px;
}

.card__image {
  margin: auto;
  width: 400px;
  height: 400px;
}

.card__image img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.card__content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin: 15px; */
  opacity: 0;
}

.card__content:hover {
  opacity: 1;
  transition: 600ms;
  z-index: 1;
}

.card__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card__actions button {
  
  color: black;
  padding: .7rem 2rem;
  background: none;
}